* {
    box-sizing: border-box
}

body {
    margin: 0;
}

[class^="col-"] {
    width: 100%;
    float: left;
    padding: 5px;
}

@media only screen and (min-width:200px) {
    .col-dp-1 {
        width: 8.33%
    }

    .col-dp-2 {
        width: 16.66%
    }

    .col-dp-3 {
        width: 25%
    }

    .col-dp-4 {
        width: 33.33%
    }

    .col-dp-5 {
        width: 41.66%
    }

    .col-dp-6 {
        width: 50%
    }

    .col-dp-7 {
        width: 58.33%
    }

    .col-dp-8 {
        width: 66.66%
    }

    .col-dp-9 {
        width: 74.99%
    }

    .col-dp-10 {
        width: 83.32%
    }

    .col-dp-11 {
        width: 91.65%
    }

    .col-dp-12 {
        width: 100%
    }

    .tamanho {
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (min-width:990px) {
    .col-dm-1 {
        width: 8.33%
    }

    .col-dm-2 {
        width: 16.66%
    }

    .col-dm-3 {
        width: 25%
    }

    .col-dm-4 {
        width: 33.33%
    }

    .col-dm-5 {
        width: 41.66%
    }

    .col-dm-6 {
        width: 50%
    }

    .col-dm-7 {
        width: 58.33%
    }

    .col-dm-8 {
        width: 66.66%
    }

    .col-dm-9 {
        width: 74.99%
    }

    .col-dm-10 {
        width: 83.32%
    }

    .col-dm-11 {
        width: 91.65%
    }

    .col-dm-12 {
        width: 100%
    }

    .tamanho {
        width: 960px;
        margin: 0 auto;
    }
}

@media only screen and (min-width:1000px) {
    .col-dg-1 {
        width: 8.33%
    }

    .col-dg-2 {
        width: 16.66%
    }

    .col-dg-3 {
        width: 25%
    }

    .col-dg-4 {
        width: 33.33%
    }

    .col-dg-5 {
        width: 41.66%
    }

    .col-dg-6 {
        width: 50%
    }

    .col-dg-7 {
        width: 58.33%
    }

    .col-dg-8 {
        width: 66.66%
    }

    .col-dg-9 {
        width: 74.99%
    }

    .col-dg-10 {
        width: 83.32%
    }

    .col-dg-11 {
        width: 91.65%
    }

    .col-dg-12 {
        width: 100%
    }

    .tamanho {
        width: 1200px;
        margin: 0 auto;
    }

}

.linha:after {
    content: "";
    display: block;
    clear: both;
}