@import url('https://fonts.googleapis.com/css?family=Hind');

* {
    padding: 0px;
    margin: 0px;
    /* border: 1px solid black; */
    font-family: 'Hind', sans-serif;
    color: white;
}

body {
    background-color: #2d3436;
    /* background-color: white; */
}

input[type="text"] {
    margin: 10px;
    color: black;
}

label {
    font-weight: bold;
}

.centralized {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    background-color: #e17055
}

.search {
    width: 30px;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s all;
}

.search:hover {
    transform: rotate(360deg)
}

.people {
    width: 70px;
}

.checked {
    width: 50px;
    transition: 1s all;
    cursor: pointer;
}

.checked:hover,
.checked:focus {
    transform: scale(1.3);
}

.highlight {
    font-weight: bold;
}

.textAlignLeft {
    text-align: left;
}

.minorIcons {
    width: 42px;
    transition: 0.3s all;
    cursor: pointer;
}

.minorIcons:hover {
    transform: scale(1.2);
}


/* Propriedades do Modal, fonte:
https://www.w3schools.com/howto/howto_css_modals.asp */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 8% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 400px; /* Could be more or less, depending on screen size */
}

.modal-content * {
    color: black;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}